.header {
    padding: 40px;
    margin: 0;
    text-align: right;
    background-color: rgba(40, 75, 99, 1);
    color: rgba(255, 252, 255, 1);
    font-family: 'Fjalla One';
    font-style: var(200px);
    font-weight: 500; 
    font-size: x-large;
}
h2{
    text-align: left;
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
}
h3{
    text-align: left;
    font-family: 'Roboto';
    font-weight: 50px;
    font-style: normal;
    font-size: larger;
}
h4{
    text-align: left;
    font-family: 'Roboto';
    font-weight: 25px;
    font-style: normal;
    font-size: larger;
}
.navigation{
    padding: 20px;
    margin: 0;
    text-align: left;
    background-color: rgba(5, 178, 220, 1);
    color: rgba(0,0,0,0,1);
    font-family: 'Fjalla One';
    font-style: var(200px);
    font-weight: 500; 
    font-size: x-larg   e;
}

































